header {
	width: 100%; height: $header-height;
	background: url("../images/topography.svg") #222;
	position: absolute;
	top: 0;
	z-index: 99;
	@include bp($bp-small){
		height: $header-height-small;
	}
}

#logo {
	position: relative;
	top: 0; left: 0px;
	width: auto; height: 100%;
	padding: 25px 33px;
	display: inline-block;
	float: left;
	@include bp($bp-small){
		padding: 20px 20px;
	}
}

.btn {
	height: 100%; width: $header-height;
	position: relative; 
	display: inline-block;
	float: left;
	margin-right: 5px;
	@include bp($bp-small){
		width: 75px;
		float: right;
	}
	&:hover {
		cursor: pointer;
		background: $green;
		color: #fff;
		ul {
			display: block;
		}
	}
	ul {
		background: #222;
		width: 300px; 
		position: absolute;
		top: $header-height;
		text-align: left;
		display: none;
		box-shadow: $shadow;
		@include bp($bp-small){
			position: fixed;
			top: $header-height-small;
			left: 0px;
			width: 100%;
		}
		li {
			font-size: 0.33em;
			color: #fff;
			line-height: 1.5em;
			padding: 15px;
			border-bottom: solid 1px #333;
			&:hover {
				background: $green;
				color: #eee;
			}
			&:last-child {
				border: none;
			}
		}
	}
}

.btn--add-location {
	background: url('../images/icons/add-icon.svg') no-repeat center center #000;
	background-size: 30px;
	&:hover {
		cursor: pointer;
		background: url('../images/icons/add-icon-white.svg') no-repeat center center $green;
		background-size: 30px;
		ul {
			display: block;
		}
	}
}

.btn--options {
	background: url('../images/icons/gear-icon.svg') no-repeat center center #000;
	background-size: 30px;
	font-size: 2.75em;
	&:hover {
		cursor: pointer;
		background: url('../images/icons/gear-icon-white.svg') no-repeat center center $green;
		background-size: 30px;
		ul {
			display: block;
		}
	}
}