header {
	width: 100%; height: $header-height;
	background: url("../images/topography.svg") #222;
	position: absolute;
	top: 0;
	z-index: 99;
	box-shadow: $shadow;
	@include bp($bp-small){
		height: $header-height-small;
	}
}

#logo {
	position: relative;
	top: 0; left: 0px;
	width: auto; height: 100%;
	padding: 25px 33px;
	display: inline-block;
	float: left;
	@include bp($bp-small){
		padding: 20px 20px;
	}
}

.btn {
	height: 100%; width: $header-height;
	position: relative; 
	display: inline-block;
	float: left;
	margin-right: 5px;
	@include bp($bp-small){
		width: 60px;
		float: right;
		span {
			display: none;
		}
	}
	&:hover {
		cursor: pointer;
		background: $green;
		color: #fff;
		span {
			display: block;
			z-index: 105;
		}
	}

	span {
		color: #333;
		font-size: 0.7em;
		text-align: center;
		display: none;
		position: absolute;
		top: 100%; right: 0;
		padding: 7px;
		width: 100%;
		color: #fff;
		background: darken($green, 10%);
	}

	ul {
		background: #fff;
		width: 300px; 
		position: absolute;
		top: $header-height;
		text-align: left;
		display: none;
		color: #333;
		box-shadow: $shadow;
		font-size: 2.75em;
		@include bp($bp-small){
			position: fixed;
			top: $header-height-small;
			left: 0px;
			width: 100%;
		}
		li {
			font-size: 0.33em;
			color: #333;
			line-height: 1.5em;
			padding: 15px;
			border-bottom: solid 1px #ddd;
			&:hover {
				background: #eee;
			}
			&:last-child {
				border: none;
			}
		}
	}
}

.btn--add-location {
	background: url('../images/icons/add-icon.svg') no-repeat center center #000;
	background-size: 30px;
	&:hover {
		cursor: pointer;
		background: url('../images/icons/add-icon-white.svg') no-repeat center center $green;
		background-size: 30px;
		ul {
			display: block;
		}
	}
}

.btn--themes {
	background: url('../images/icons/themes-icon.svg') no-repeat center center #000;
	background-size: 30px;
	&:hover {
		cursor: pointer;
		background: url('../images/icons/themes-icon-white.svg') no-repeat center center $green;
		background-size: 30px;
	}
}

.btn--options {
	background: url('../images/icons/gear-icon.svg') no-repeat center center #000;
	background-size: 30px;
	.theme-toggle {
		position: relative;
		&.active {
			&:before {
				content: "";
				padding: 4px;
				border-radius: 200%;
				background: $green;
				position: absolute;
				right: 20px; top: 43%;
			}
		}
	}

	&:hover {
		cursor: pointer;
		background: url('../images/icons/gear-icon-white.svg') no-repeat center center $green;
		background-size: 30px;

	}
}