<div id="app-container">

	<header>
		<img id="logo" src="images/logo.svg" alt="" />	

		<div class="btn--add-location btn">
		</div>	
		<div class="btn--options btn">
		
			<ul>
				<li>My Destinations</li>
				<li>Settings</li>
				<li>Logout</li>
			</ul>
		</div>	
	</header>

	<div id="main-content">
			{{outlet}}
	</div>
</div>	



