<div id="app-container">
	<div id="control-panel">
		<header>
			<img id="logo" src="images/logo.svg" alt="" />	

			<div class="btn--add-location">
				+
			</div>	
		</header>

		{{outlet}}
		
	</div>
	<div id="map-canvas">
	</div>
</div>	



