<div id="control-panel" class="left">
	<div id="btn--close-ctrl-pnl" class="btn--close-ctrl-pnl">
		x
	</div>

	<div class="btn--layout-ctrl-pnl">
		
	</div>
	<form action="">
		<div class="header-image">
		</div>
		<input type="hidden">
		<div class="padded has-header-image">
			
			<input type="text" placeholder="Destination Name*" id="destination" class="half">
			<input type="text" placeholder="Lat, Lng" id="destination" class="half">
			<select class="half" name="trip" id="">
				<option value="">Desire level</option>
				<option value="">It'd be nice</option>
				<option value="">I really want to go</option>
				<option value="">I can't not go</option>
				<option value="">Bucketlist</option>
			</select>
			
			<select class="half" name="trip" id="">
				<option value="">Trip</option>
				<option value="">Trip</option>
				<option value="">Trip</option>
				<option value="">Trip</option>
			</select>
			<h3>Description</h3>
			<textarea></textarea>
			<h3>What's here?</h3>
			<textarea></textarea>
			
			<input type="button" value="Create Destination">
		</div>
	</form>
</div>

<div id="map-container">
		<div id="theme-drawer">
			<ul>
				<li class="btn--colorful-theme active theme-toggle">
					<img src="images/themes/theme-colorful.jpg" alt="">
					<span class="theme-name">
						Colorful Map
					</span>
				</li>
				<li class="btn--neutral-theme theme-toggle">
					<img src="images/themes/theme-neutral.jpg" alt="">
					<span class="theme-name">
						Neutral Map
					</span>
				</li>
				<li class="btn--dark-theme theme-toggle">
					<img src="images/themes/theme-dark.jpg" alt="">
					<span class="theme-name">
						Dark Map
					</span>
				</li>
				<li class="btn--light-theme theme-toggle">
					<img src="images/themes/theme-light.jpg" alt="">
					<span class="theme-name">
						Light Map
					</span>
				</li>

				<li class="btn--satellite-theme theme-toggle">
					<img src="images/themes/theme-satellite.jpg" alt="">
					<span class="theme-name">
						Satellite Mode
					</span>
				</li>

			</ul>
			
			<div class="btn--close-theme-drawer">
				x
			</div>
	   </div>
	   <div id="map-canvas">

		</div>

		<div id="preferences-drawer">
			<h1>Preferences</h1>
			<form action="">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
				<input type="text">
			</form>
		</div>

</div>


{{outlet}}
