<div id="map-canvas"></div>

<div id="control-panel">
	<form action="">
		<h1>New Destination</h1>
		<input type="text"><br>
		<input type="text"><br>
		<input type="text"><br>
		<input type="button" value="Create Location">
	</form>
</div>		

{{outlet}}
